<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<h2 class="mb-6">Editar produto</h2>
					<ProductForm :populateWith="product" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import ProductForm from '~/components/admin/ProductForm.vue'
export default {
	layout: 'admin',
  middleware: 'auth',
  async asyncData({ $axios, params }) {
  	const id = params.id
  	const product = await $axios.$get(`/v1/products/${id}`)

  	return { product }
  }
}
</script>