<template>
	<div>
		<navbar />
		<Nuxt />
	</div>
</template>

<script>
	import LogoMobile from '~/components/LogoMobile.vue'
	import Navbar from '~/components/admin/AdminNavbar.vue'
	export default {
		components: {
			LogoMobile, Navbar
		}
	}
</script>