<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<h2 class="mb-6">Editar artigo</h2>
					<article-form :article-data="article" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ArticleForm from '~/components/admin/ArticleForm.vue'

	export default {
		layout: 'admin',
		middleware: 'auth',
		async asyncData({ params, $axios }) {
			const response = await $axios.get(`/v1/articles/${params.id}`)
			return {
				article: response.data
			}
		}
	}
</script>