<template>
  <section class="section">
  	<div class="container">
  		<div class="columns is-centered">
  			<div class="column is-10">
  				<h2 class="mb-4">Parcerias</h2>
  				<p>Acreditamos que o estilo de vida saudável é feito através de uma comunidade, por isso valorizamos muito as influencers.</p>
  				<p class="mb-5">Se você acha que pode contribuir para espalhar o equilíbrio com a gente, manda uma mensagem!</p>
  				<div class="columns">
  					<div class="column is-6">
  						<ContactForm contact-type="parcerias" />
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
</template>

<script>
import ContactForm from '~/components/ContactForm'
export default {
  head() {
    return {
      title: 'Contato - Parcerias - Equilibraê'
    }
  }
}
</script>