<template>
  <section class="section">
  	<div class="container">
  		<div class="columns is-centered">
  			<div class="column is-10">
  				<h2 class="mb-4">Revendedores</h2>
  				<p class="mb-5">
  					Quer revender nossos produtos? Preencha esse formulário e torne seu estabelecimento mais equilibrado!
  				</p>
  				<div class="columns">
  					<div class="column is-6">
  						<ContactForm contact-type="revendedores" />
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
</template>

<script>
import ContactForm from '~/components/ContactForm'
export default {
  head() {
    return {
      title: 'Contato - Revendedores - Equilibraê'
    }
  }
}
</script>