<template>
	<nuxt-link :to="{ name: 'blog-id', params: { id: article.id }}" class="article-card" :style="article.photo ? `--articleImage: url('${article.photo.url}');` : `--articleImage: url('${require('~/assets/imgs/produtos/no-photo.jpg')}');`">
		<h2>{{ article.title }}</h2>
		<span>{{ article.created_at | toDate }}</span>
	</nuxt-link>
</template>

<script>
	export default {
		props: {
			article: {
				type: Object
			}
		},
		filters: {
			toDate(value) {
				const date = new Date(value)
				
				return date.toLocaleDateString('pt-br', {
					day: 'numeric',
					month: 'long',
					year: 'numeric'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.article-card {
		height: 320px;
		background: linear-gradient(180deg, rgba(25, 24, 24, 0) 0%, rgba(25, 24, 24, 0.8) 100%), var(--articleImage);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 24px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
		h2 {
			color: #fafafa;
			margin-bottom: 8px;
		}
		span {
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
			color: #F6F5F1;
			text-transform: uppercase;
		}
		@media (min-width: 769px) {
			&:hover {
				box-shadow: 0px 33px 33px rgba(0, 0, 0, 0.07), 0px 13.7866px 13.7866px rgba(0, 0, 0, 0.0503198), 0px 7.37098px 7.37098px rgba(0, 0, 0, 0.0417275), 0px 4.13211px 4.13211px rgba(0, 0, 0, 0.035), 0px 2.19453px 2.19453px rgba(0, 0, 0, 0.0282725), 0px 0.913195px 0.913195px rgba(0, 0, 0, 0.0196802);
			}
		}
	}
</style>