<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
  	<form @submit.prevent="handleSubmit(submit)">
      <div class="field">
        <label class="label">Nome</label>
        <ValidationProvider name="name" rules="required" v-slot="{ errors, classes }">
          <div class="control"> 
            <input
              v-model="name"
              :class="classes"
              type="text"
              class="input"
            >
            <span class="help">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <ValidationProvider name="email" rules="email|required" v-slot="{ errors, classes }">
          <div class="control"> 
            <input
              v-model="email"
              :class="classes"
              type="text"
              class="input"
            >
            <span class="help">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
      </div>
      <div class="field">
        <label class="label">Celular</label>
        <ValidationProvider name="phone" rules="required" v-slot="{ errors, classes }">
          <div class="control"> 
            <input
              v-model="phone"
              :class="classes"
              type="text"
              class="input"
            >
            <span class="help">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
      </div>
      <div class="field">
        <label class="label">Mensagem</label>
        <ValidationProvider name="message" rules="required" v-slot="{ errors, classes }">
          <div class="control"> 
            <textarea
              v-model="message"
              type="textarea"
              class="textarea"
            />
            <span class="help">{{ errors[0] }}</span>
          </div>
        </ValidationProvider>
      </div>
      <div>
        <button
          type="submit"
          class="button"
          :class="{'is-loading': loading}"
        >
          Enviar
        </button>
      </div>
  	</form>
  </ValidationObserver>
</template>

<script>
export default {
  props: {
    contactType: {
      type: String,
      required: true,
      validator: value => ['parcerias', 'revendedores'].indexOf(value) !== -1
    }
  },
	data() {
		return {
			loading: false,
      name: '',
      email: '',
      phone: '',
      message: ''
		}
	},
	methods: {
		async submit() {
      try {
        this.loading = true
        const reponse = await this.$axios.post(this.submitEndpoint, this.formData)
      } catch(err) {
        console.error(err.toString())
      } finally {
        this.loading = false
      }
		}
	},
  computed: {
    submitEndpoint() {
      const url = {
        parcerias: '/v1/contact/partnerships',
        revendedores: '/v1/contact/resellers'
      }

      return url[this.contactType]
    },
    formData() {
      return {
        contact: {
          name: this.name,
          email: this.email,
          phone: this.phone,
          message: this.message
        }
      }
    }
  }
}
</script>
