<template>
	<section class="section">
		<p>Faça seu pedido agora mesmo!</p>
		<a href="https://pedidos.in/equilibrae" target="_blank" class="button">
			Ir para o delivery ->
		</a>
	</section>
</template>

<style lang="scss" scoped>
	.section {
		padding: 32px;
		background: #F6F5F1;
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-style: italic;
			font-weight: 300;
			font-size: 30px;
			line-height: 30px;
			color: #949391;
			margin-right: 24px;
		}
		@media (max-width: 769px) {
			flex-direction: column;
			p {
				text-align: center;
				margin-right: unset;
				margin-bottom: 24px;
			}
		}
	}
</style>