<template>
	<footer class="footer">
		<div class="columns">
			<div class="column is-5">
				<nuxt-link to="/">
					<img src="~/assets/imgs/logo.svg">
				</nuxt-link>
			</div>
			<div class="column is-2">
				<div class="items">
					<h4>Bora equilibrar</h4>
					<nuxt-link to="/produtos">
						Produtos
					</nuxt-link>
					<nuxt-link to="/sobre">
						Sobre nós
					</nuxt-link>
					<nuxt-link to="/blog">
						Blog
					</nuxt-link>
					<nuxt-link to="#">
						Encontre uma loja
					</nuxt-link>
				</div>
			</div>
			<div class="column is-2">
				<div class="items">
					<h4>Seja parceiro</h4>
					<nuxt-link to="/contato/parcerias">
						Influenciadores
					</nuxt-link>
					<nuxt-link to="/contato/revendedores">
						Revendedores
					</nuxt-link>
				</div>
			</div>
			<div class="column is-2">
				<div class="items">
					<h4>Fale conosco</h4>
					<a href="https://wa.me/5521986625386" target="_blank">
						Fale com a Erika
					</a>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-2 is-offset-5">
				<div class="items">
					<h4>Redes sociais</h4>
					<div class="social"> 
						<a href="https://www.facebook.com/equilibraegastronomiasaudavel" target="_blank">
							<img src="~/assets/imgs/social/fb.svg">
						</a>
						<a href="https://www.instagram.com/equilibrae/" target="_blank">
							<img src="~/assets/imgs/social/instagram.svg">
						</a>
						<a href="https://twitter.com/equilibraeofc" target="_blank">
							<img src="~/assets/imgs/social/twitter.svg">
						</a>
					</div>
				</div>
			</div>
			<div class="column is-2">
				<div class="items">
					<h4>Delivery</h4>
					<a href="https://pedidos.in/equilibrae" target="_blank">
						Conheça nossa loja
					</a>
				</div>
			</div>
		</div>
		<div class="columns is-multiline">
			<div class="column is-full">
				<hr />
			</div>
			<div class="column is-offset-5">
				<p>Equilibraê  © 2020 - Todos os direitos reservados.</p>
			</div>
		</div>
	</footer>
</template>

<style lang="scss" scoped>
	.items {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		h4 { margin-bottom: 24px; color: #313130; }
		> a {
			&:not(:last-of-type) {
				margin-bottom: 16px;
			}
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			text-transform: uppercase;
			color: #626260;
			@media (min-width: 769px) {
				&:hover { color: #191818; }
			}
		}
	}
	.social {
		display: flex;
		align-items: center;
		a {
			&:not(:last-of-type) { margin-right: 24px; }
			img { opacity: 0.75; transition: all 0.35s cubic-bezier(0.25, 1, 0.5, 1); }
			@media (min-width: 769px) {
				&:hover { img { opacity: 1; } }
			}
		}
	}
	.columns:first-of-type {
		margin-bottom: 48px;
	}
	.columns:last-of-type {
		p {
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
			color: rgba(98, 98, 96, 0.6);
		}
		.column { padding: unset; }
		.column:last-child { padding-left: 12px; }
	}
</style>