<template>
	<section class="section" :style="color ? `--BgColor: ${color};` : ''">
		<div class="container" :class="isBlog ? 'blog' : ''">
			<h1>{{ title }}</h1>
			<span v-if="date">{{ date | toDate }}</span>
		</div>
		<img :src="pattern ? require(`~/assets/imgs/heros/${pattern}`) : ''">
	</section>
</template>

<script>
	export default {
		props: ['color', 'pattern', 'title', 'date', 'isBlog'],
		filters: {
			toDate(value) {
				const date = new Date(value)
				
				return date.toLocaleDateString('pt-br', {
					day: 'numeric',
					month: 'long',
					year: 'numeric'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	.section {
		min-height: 240px;
		background: var(--BgColor, #00A6E0);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		position: relative;
		> img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.container {
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			&.blog {
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
			}
		}
		h1 {
			color: #fafafa;
			z-index: 10;
		}
		span {
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
			color: #F6F5F1;
			text-transform: uppercase;
			margin-top: 8px;
		}
	}
</style>