<template>
	<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M13.1457 4.7793C12.8016 4.7793 12.4892 4.91766 12.2638 5.14693C12.0423 5.37226 11.8999 5.68455 11.8999 6.02452V6.574C10.6384 5.47899 8.98921 4.82278 7.19374 4.82278C3.21919 4.82278 0 8.0406 0 12.0135C0 15.9863 3.21919 19.2081 7.19374 19.2081C8.98921 19.2081 10.6384 18.5479 11.8999 17.4569V18.121C11.8999 18.8088 12.4576 19.3622 13.1457 19.3622C13.4898 19.3622 13.7982 19.2239 14.0276 18.9986C14.253 18.7732 14.3914 18.4609 14.3914 18.117V6.02452C14.3914 5.34064 13.8338 4.7793 13.1457 4.7793ZM7.19374 16.7097C4.59941 16.7097 2.49547 14.6067 2.49547 12.0095C2.49547 9.41627 4.59941 7.30927 7.19374 7.30927C9.79203 7.30927 11.896 9.41627 11.896 12.0095C11.896 14.6067 9.79203 16.7097 7.19374 16.7097Z" fill="#FCCF62"/>
			<path d="M21.7592 10.7682L27.0151 8.85494C25.7377 7.42392 23.6694 6.83886 21.7592 7.53461C19.2519 8.44382 17.9547 11.2189 18.8683 13.7251C19.7819 16.2354 22.5581 17.528 25.0654 16.6149C26.5564 16.0733 27.6163 14.8755 28.0434 13.4642C28.2332 12.8001 28.9174 12.4167 29.566 12.6025C30.1829 12.7804 30.5507 13.4089 30.4281 14.0414L30.4004 14.1402L30.3886 14.1718C29.7479 16.2947 28.1502 18.1012 25.9038 18.9156C22.1231 20.2912 17.9429 18.3424 16.5666 14.5592C15.1904 10.7801 17.1401 6.60563 20.9208 5.22996C24.4485 3.9452 28.3242 5.55411 29.9417 8.84308L29.9693 8.89052C30.001 8.95772 30.0287 9.02492 30.0564 9.08817C30.1671 9.40442 30.1434 9.73648 30.0129 10.0211C29.8823 10.3097 29.6371 10.5429 29.3168 10.6615L22.6095 13.1006C21.9688 13.3338 21.257 12.9978 21.0197 12.3534C20.905 12.0293 20.9287 11.6893 21.0592 11.4047C21.1937 11.1161 21.435 10.8829 21.7592 10.7682Z" fill="#FCCF62"/>
			<path d="M29.479 2.34418C29.479 3.0755 28.8778 3.67637 28.1383 3.67637C27.9761 3.67637 27.7824 3.59336 27.727 3.56173C27.5648 3.47477 27.3948 3.3957 27.2287 3.3206C26.0976 2.80669 24.8479 2.51417 23.5389 2.47859C23.4519 2.47859 23.3728 2.47859 23.2897 2.47859C23.1671 2.47859 23.0485 2.47859 22.9298 2.48649C22.6846 2.4944 22.6095 2.45092 22.5462 2.41929C22.0954 2.20582 21.783 1.74727 21.783 1.21755C21.783 0.861774 21.8462 0.58901 22.1508 0.300435C22.4869 0 23.0287 0 23.2858 0C23.4202 0 23.5507 0 23.6812 0.00790618C25.2632 0.0592963 26.766 0.411121 28.1304 1.01199C28.3637 1.11477 28.597 1.22546 28.8225 1.34405C28.953 1.41125 29.1705 1.50217 29.3564 1.79866C29.4592 1.95283 29.479 2.15048 29.479 2.34418Z" fill="#FCCF62"/>
			<path d="M21.3558 23.26C20.7072 23.0742 20.027 23.4576 19.8332 24.1218C19.4101 25.5251 18.3462 26.7268 16.8592 27.2724C16.3214 27.47 15.7677 27.557 15.222 27.5609C14.6802 27.557 14.1265 27.47 13.5886 27.2724C12.1016 26.7268 11.0378 25.5291 10.6146 24.1218C10.4248 23.4576 9.74063 23.0742 9.09205 23.26C8.47115 23.4379 8.10335 24.0664 8.22991 24.695L8.25364 24.7938L8.26155 24.8254C8.90222 26.9482 10.5039 28.7508 12.7502 29.5691C13.5609 29.8616 14.3875 29.996 15.2022 30V30.004H15.222H15.2417V30C16.0564 29.996 16.883 29.8656 17.6937 29.5691C19.9361 28.7508 21.5417 26.9482 22.1824 24.8254L22.1942 24.7938L22.2219 24.695C22.3445 24.0664 21.9767 23.4339 21.3558 23.26Z" fill="#FCCF62"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="30.45" height="30" fill="white"/>
			</clipPath>
		</defs>
	</svg>
</template>