<template>
	<nav :class="isTransparent ? 'transparent' : ''">
		<div class="container-fluid">
			<div class="logo">
				<nuxt-link to="/">
					<img :src="isTransparent ? require('~/assets/imgs/logo-white.svg') : require('~/assets/imgs/logo.svg')">
				</nuxt-link>
				<nuxt-link to="/">
					<logo-mobile />
				</nuxt-link>
			</div>
			<div class="menuBtn" :class="menuIsActive ? 'active' : ''" @click="toggleMenu">
			<svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<line x1="2" y1="9" x2="30" y2="9" id="firstLine" />
				<line x1="2" y1="21" x2="30" y2="21" id="lastLine" />
			</svg>
			</div>
			<div class="items">
				<hr />
				<nuxt-link @click.native="closeMenu" to="/produtos">Produtos</nuxt-link>
				<nuxt-link @click.native="closeMenu" to="/sobre">Sobre nós</nuxt-link>
				<nuxt-link @click.native="closeMenu" to="/blog">Blog</nuxt-link>
				<nuxt-link @click.native="closeMenu" to="#">Encontre uma loja</nuxt-link>
			</div>
		</div>
	</nav>
</template>

<script>
	import LogoMobile from '~/components/LogoMobile.vue'
	export default {
		components: {
			LogoMobile
		},
		props: ['isTransparent'],
		data() {
			return {
				menuIsActive: false
			}
		},
		methods: {
			toggleMenu() {
				this.menuIsActive = !this.menuIsActive
				this.$emit('menuToggled')
			},
			closeMenu() {
				if(this.menuIsActive) {
					this.menuIsActive = !this.menuIsActive
					this.$emit('menuToggled')
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	nav	{
		min-height: 94px;
		display: flex;
		align-items: center;
		background-color: white;
		--menuColor: #313130;
		.container-fluid {
			width: 100%;
			padding: 32px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.logo {
			z-index: 30;
			max-height: 30px;
			a:last-of-type { display: none; }
		}
		.menuBtn {
			display: none;
			z-index: 30;
			cursor: pointer;
			svg line {
				stroke: var(--menuColor);
				stroke-width: 4;
				stroke-linecap: round;
				transition: all 0.4s cubic-bezier(0.36, 0, 0.66, -0.56);
			}
			#firstLine {
				transform-origin: 8px 10px;
				transform: rotate(0);
			}
			#lastLine {
				stroke-dasharray: 20;
				transform-origin: 8px 20px;
				transform: rotate(0);
			}
			&.active {
				--menuColor: #313130;
				#firstLine {
					transform: rotate(45deg);
				}
				#lastLine {
					stroke-dasharray: 32;
					transform: rotate(-45deg);
				}
			}
		}
		.items {
			display: flex;
			hr { display: none; }
			a:not(:last-of-type) {
				margin-right: 48px;
				@media (max-width: 769px) {
					margin-right: unset;
					margin-bottom: 48px;
				}
			}
			a {
				font-family: Gotham Rounded;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #191818;
				position: relative;
				&:before {
					content: '';
					width: 0%;
					height: 4px;
					background-color: #FCCF62;
					position: absolute;
					bottom: -4px;
					left: 0;
					border-radius: 2px;
					transition: all 0.25s cubic-bezier(0.37, 0, 0.63, 1);
				}
				&.nuxt-link-active { &:before { width: 100%; } }
				@media (min-width: 769px) {
					&:hover { &:before { width: 100%; } }
				}
			}
		}
		&.transparent {
			--menuColor: #fafafa;
			background-color: transparent;
			width: 100%;
			position: absolute;
			top: 0;
			z-index: 10;
			.items > a { color: #fafafa; }
		}
	}

	@media (max-width: 769px) {
		nav {
			.container-fluid {
				position: absolute;
				top: 0;
				width: 100vw;
			}
			.items {
				hr {
					display: block;
					width: 100%;
					margin: unset;
					margin-bottom: 32px;
					background-color: rgba(0,0,0,0.05);
					opacity: 0;
					transition: all 0.4s cubic-bezier(0.37, 0, 0.63, 1);
					transition-delay: 0.2s;
				}
				align-items: flex-start;
				flex-direction: column;
		    background-color: rgba(255, 255, 255, 0.9);
				position: absolute;
				z-index: 20;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				padding: 32px;
				padding-top: 100px;
				box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
				transform: translateX(-150%);
				transition: all 0.4s cubic-bezier(0.37, 0, 0.63, 1);
			}
			.menuBtn.active + .items {
				> hr { opacity: 1; }
				backdrop-filter: blur(6px);
				transform: translateX(0);
				> a { color: #191818; }
			}
			.logo {
				a:first-of-type { display: none; }
				a:last-of-type { display: block; }
			}
			.menuBtn {
				display: block;
			}
		}
	}
</style>