<template>
	<b-table :data="data.facts" :striped="true" :mobile-cards="false">
		<b-table-column field="weight" :label="`Porção de ${this.data.wheight}`" v-slot="props">
			<p class="is-med has-text-black">{{ props.row.name }}</p>
		</b-table-column>
		<b-table-column field="weight" label="Total" v-slot="props">
			<p class="is-med">{{ props.row.value }}</p>
		</b-table-column>
	</b-table>
</template>

<script>
	export default {
		props: {
			data: {
				type: Object
			}
		},
		created() {
			this.columns = [
				{
					field: 'weight',
					label: `Porção de ${this.data.weight}`
				},
				{
					field: 'total',
					label: 'Total'
				}
			]
		}
	}
</script>

<style lang="scss" scoped>
	.value-column {
		color: #626260;
	}
</style>