<template>
	<nuxt-link :to="link" class="product-card">
		<div class="image">
			<img :src="image">
		</div>
		<div class="card-content">
			<div class="card-title">
				{{ title }}
			</div>
			<div class="content">
				<div class="weight"><p>{{ weight }}</p></div>
				<div class="info">+ Detalhes</div>
			</div>
		</div>
	</nuxt-link>
</template>

<script>
	export default {
		props: ['link', 'image', 'title', 'weight']
	}
</script>

<style lang="scss" scoped>
	.product-card {
		display: block;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0px 0px 4px rgba(98, 98, 96, 0.25);
		overflow: hidden;
		transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
		@media (min-width: 769px) {
			&:hover {
				box-shadow: 0px 33px 33px rgba(0, 0, 0, 0.07), 0px 13.7866px 13.7866px rgba(0, 0, 0, 0.0503198), 0px 7.37098px 7.37098px rgba(0, 0, 0, 0.0417275), 0px 4.13211px 4.13211px rgba(0, 0, 0, 0.035), 0px 2.19453px 2.19453px rgba(0, 0, 0, 0.0282725), 0px 0.913195px 0.913195px rgba(0, 0, 0, 0.0196802);
			}
		}
		.image {
			height: 140px;
			width: 100%;
			overflow: hidden;
			position: relative;
			> img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.card-content {
			padding: 16px;
			.card-title {
				font-weight: 300;
				font-size: 18px;
				line-height: 22px;
				color: #313130;
				height: 44px;
				overflow: hidden;
			}
			.content {
				padding-top: 24px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.info {
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					color: #00A6E0;
				}
			}
		}
	}
</style>