<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered mt-4">
				<div class="column is-8">
					<div class="mb-6">
						<h2>Alterar senha</h2>
					</div>
					<ValidationObserver ref="form" v-slot="{ handleSubmit }">
	          <form @submit.prevent="handleSubmit(onSubmit)">
	          	<div class="field">
		            <label class="label">Senha atual</label>
		            <ValidationProvider name="current_password" rules="required" v-slot="{ errors, classes }">
		              <div class="control"> 
		                <input
		                  v-model="current_password"
		                  :class="classes"
		                  type="password"
		                  class="input"
		                >
		                <span class="help">{{ errors[0] }}</span>
		              </div>
		            </ValidationProvider>
		          </div>
	          	<div class="field">
		            <label class="label">Nova senha</label>
		            <ValidationProvider name="password" rules="required|min:8" v-slot="{ errors, classes }">
		              <div class="control"> 
		                <input
		                  v-model="password"
		                  :class="classes"
		                  type="password"
		                  class="input"
		                >
		                <span class="help">{{ errors[0] }}</span>
		              </div>
		            </ValidationProvider>
		          </div>
							<div class="field">
							  <label class="label">Confirme a nova senha</label>
							  <ValidationProvider
							  	rules="confirmed:password|required"
							  	v-slot="{ errors, classes }"
							  >
								  <div class="control">
								    <input
								    	v-model="passwordConfirmation"
								    	type="password"
								    	class="input"
								    	:class="classes"
								    >	
								    <span class="help">{{ errors[0] }}</span>
								  </div>
							  </ValidationProvider>
							</div>
		          <div>
		            <button
		              type="submit"
		              class="button"
		              :class="{'is-loading': loading}"
		            >
		              Alterar
		            </button>
		          </div>
	          </form>
	        </ValidationObserver>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

export default {
	layout: 'admin',
  middleware: 'auth',
  data() {
  	return {
  		loading: false,
  		current_password: '',
  		password: '',
  		passwordConfirmation: ''
  	}
  },
  methods: {
  	async onSubmit() {
  		try {
  			this.loading = true
  			await this.$axios.$put('/auth/account', {
  				user: {
	  				current_password: this.current_password,
	  				password: this.password
  				}
  			})
	  		this.$router.push({
	  			name: 'admin'
  			},
  			() => {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Senha alterada com sucesso',
						type: 'is-success'
					})
	  		})
  		} catch(err) {
  			console.error(err.toString())
        if(err.response && err.response.status === 422) {
          this.$refs.form.setErrors(err.response.data.errors)
        } else {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Oops... algo deu errado!',
						type: 'is-danger'
					})
				}
  		} finally {
  			this.loading = false
  		}
  	}
  }
}
</script>
