<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered mt-4">
				<div class="column is-8">
					<div class="is-flex mb-6">
						<h2>Produtos cadastrados</h2>
						<nuxt-link class="button is-small" to="/admin/products">Cadastrar produto</nuxt-link>
					</div>
					<products-list :products="products" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import ProductForm from '~/components/admin/ProductForm.vue'
import ProductsList from '~/components/admin/ProductsList.vue'

export default {
	layout: 'admin',
  middleware: 'auth',
	async asyncData({ $axios }) {
		const response = await $axios.get('/v1/products')
		const products = response.data
		return {
			products
		}
	}
}
</script>

<style lang="scss" scoped>
	.is-flex {
		justify-content: space-between;
		@media (max-width: 769px) {
			flex-direction: column;
			a { margin-bottom: 32px; }
		}
	}
</style>
