<template>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4 mt-6">
          <p v-show="confirmation" class="has-text-success"><strong>✓</strong> Conta confirmada</p>
          <ValidationObserver ref="form" v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <div class="field">
                <label class="label">Email</label>
                <ValidationProvider name="email" rules="email|required" v-slot="{ errors, classes }">
                  <div class="control"> 
                    <input
                      v-model="email"
                      :class="classes"
                      type="text"
                      class="input"
                      placeholder="nome@exemplo.com"
                    >
                    <span class="help">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
              </div>
              <div class="field">
                <label class="label">Senha</label>
                <ValidationProvider name="password" rules="required" v-slot="{ errors, classes }">
                  <div class="control"> 
                    <input
                      v-model="password"
                      :class="classes"
                      type="password"
                      class="input"
                      placeholder="Digite sua senha"
                    >
                    <span class="help">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
              </div>
              <div class="btns">
                <button
                  type="submit"
                  class="button"
                  :class="{'is-loading': loading}"
                >
                  Entrar
                </button>
              </div>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'admin',
  data() {
    return {
      email: '',
      password: '',
      loading: false
    }
  },
  methods: {
    async onSubmit() {
      try {
        this.loading = true
        await this.$auth.loginWith('customStrategy', {
          email: this.email,
          password: this.password
        })
      } catch(err) {
        console.error(err.toString())
        if(err.response && err.response.status === 401) {
          this.$refs.form.setErrors({
            email: err.response.data,
            password: []
          })
        }
      } finally {
        this.loading = false
      }
    }
  },
  computed: {
    confirmation() {
      return this.$route.query.confirmation === 'true'
    }
  }
}
</script>

<style lang="scss" scoped>
  .btns {
    display: flex;
    align-items: center;
    a { margin-left: 16px; }
  }
</style>