@import "~bulma/sass/utilities/_all";

$family-primary: 'Inter', sans-serif;
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$primary: #FCCF62;
$primary-invert: findColorInvert($primary);
$success: #50BC88;
$info: #00A6E0;
$danger: #E47472;
$black: #191818;
$warning: $primary;
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);
$link: $info;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-focus-border: transparent;
$body-background-color: #F9F9F9;
$carousel-indicator-color: rgba(250, 250, 250, 0.6);
$carousel-indicator-border: transparent;
$content-heading-color: #191818;
$content-heading-weight: 600;
$content-heading-line-height: 36px;
$footer-background-color: #F6F5F1;
$footer-padding: 96px 100px 32px 100px;
$hr-background-color: #DDDDD9;
$hr-height: 1px;
$hr-margin: 32px 0;
$table-background-color: transparent;
$table-cell-border: 1px solid #626260;
$table-cell-border-width: 0;
$table-cell-padding: 8px 16px;
$table-cell-heading-color: #191818;
$table-head-cell-border-width: 0 0 1px;
$table-color: #191818;
$table-striped-row-even-background-color: #F1EFE9;
$pagination-current-color: #ffffff;

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "fonts";

.ProseMirror {
	padding: 20px;
	box-shadow: 0px 1.86203px 3.79056px rgba(0, 0, 0, 0.0525061);
	border-radius: 24px;
	min-height: 320px;
	transition: all .3s ease;
	&:focus {
		outline: none;
		box-shadow: 0px 6.25417px 12.7317px rgba(0, 0, 0, 0.0774939), 0px 1.86203px 3.79056px rgba(0, 0, 0, 0.0525061);
	}
}

.b-table .table th {
	font-family: Gotham Rounded;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #191818;
}

.fixed {
	overflow: hidden;
	position: fixed;
	width: 100vw;
}

.raised {
	box-shadow: 0px 28px 57px rgba(0, 0, 0, 0.13), 0px 6.25417px 12.7317px rgba(0, 0, 0, 0.0774939), 0px 1.86203px 3.79056px rgba(0, 0, 0, 0.0525061);
}

.carousel .carousel-indicator {
  justify-content: flex-end;
  padding: 32px;
}
.carousel .carousel-indicator .indicator-item {
	cursor: pointerc;
	.indicator-style.is-lines {
		width: 40px;
		height: 8px;
	}
}

h1 {
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	color: #191818;
	@media (max-width: 769px) {
		font-size: 32px;
		line-height: 39px;
	}
}

h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #191818;
}

h3 {
	font-family: Gotham Rounded;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #626260;
}

h4 {
	font-family: Gotham Rounded;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #626260;
}

p {
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #626260;
	strong { font-weight: normal; }
	&.is-med {
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		color: #626260;
	}
}

.help {
  position: absolute;
  right: 0;
  color: #E47472;
}

.field {
	position: relative;
}

.button {
	border: none;
	outline: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	min-height: 51px;
	padding: 16px 48px;
	border-radius: 12px;
	color: #ffffff;
	background-color: #FCCF62;
	transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	place-items: center;
	&.is-small { min-height: 40px; }
	&:focus:not(:active) {
		box-shadow: unset;
		color: #ffffff;
	}
	@media (min-width: 769px) {
		&:hover:not(.outline) {
			color: #ffffff;
			background-color: #FBC237;
		}
	}
	&.outline {
		background-color: transparent;
		border: 2px solid #FAFAFA;
		span { z-index: 10; }
		@media (min-width: 769px) {
			&:hover {
				color: var(--hero-color, #626260);
				background-color: #fafafa;
			}
		}
	}
}

.back {
	display: inline-block;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #191818;
	transition: all .25s ease;
	@media (min-width: 769px) {
		&:hover {
			color: $link;
		}
	}
}