<template>
  <div>
    <b-carousel
      :pause-info="false"
      :arrow="false"
      indicator-style="is-lines"
      :interval="5000"
      :animated="animation"
      :autoplay="true"
    >
      <b-carousel-item v-for="(slide, i) in slides" :key="i" :style="`background: url('` + require(`~/assets/imgs/home/slide/bg${i}.png`) + `'), ${slide.background}; --hero-color: ${slide.background};`">
        <div class="content-block">
          <h1>{{ slide.title }}</h1>
          <nuxt-link to="/produtos" class="button outline"><span>{{ slide.btnText }}</span></nuxt-link>
        </div>
        <div class="img">
          <img :src="require(`~/assets/imgs/home/slide/${i}.png`)">
        </div>
      </b-carousel-item>
    </b-carousel>
    <cta />
    <section class="section about">
      <div class="container">
        <div class="columns is-vcentered is-centered is-variable is-8">
          <div class="column boxImg">
            <img src="~/assets/imgs/home/box.png">
          </div>
          <div class="column is-6">
            <div class="content">
              <h2>Por que equilibrar?</h2>
              <p>
                Acreditamos em um estilo de vida saudável, sem neurose e privações, mas com prazer e <strong>equilíbrio</strong>. Espalhamos esse estilo de vida através de lanches práticos, congelados, com ingredientes saudáveis e <strong>muito saborosos</strong>. Para te ajudar, é claro, que entregamos diretamente na sua casa. Sem gasolina, estacionamento e trânsito. Tudo no conforto do seu lar para cuidarmos de você!
              </p>
              <nuxt-link to="/sobre">
                Saiba mais ->
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section sac">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <h3>Chama a Erika!</h3>
            <h2>Dúvidas, sugestões ou problemas?</h2>
            <p>
              Quem é Erika? Erika iniciou sua jornada na Equilibraê em 2018, ela ficou responsável por cuidar do nosso atendimento por 2 anos, com toda paciência e carinho com nossas clientes. Por isso, hoje, nosso SAC recebeu o nome dela, para que o carinho se perpetue para sempre!
            </p>
            <a class="button outline" href="https://wa.me/5521986625386" target="_blank">
              FALE COM A ERIKA
            </a>
          </div>
          <div class="column is-5">
            <img src="~/assets/imgs/home/erika.png">
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import Cta from '~/components/Cta.vue'
  export default {
    layout: 'home',
    components: { Cta },
    data() {
      return {
        slides: [
          { title: 'Comida de verdade com muito sabor', btnText: 'Conheça nossos doces', background: '#E47472' },
          { title: 'Deliciosamente saudável', btnText: 'Conheça nossos kits', background: '#50BC88'},
          { title: 'Para deixar a dieta mais saborosa', btnText: 'Conheça nossos salgados', background: '#A38D77'}
        ],
        animation: 'fade'
      }
    },
    mounted() {
      setTimeout(() => this.animation = 'slide', 400)
    }
  }
</script>

<style lang="scss" scoped>
  .carousel {
    min-height: 720px;
    background-color: #E47472;
    @media (max-width: 769px) {
      min-height: 684px;
    }
  }
  .carousel-item {
    width: 100%;
    min-height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 769px) {
      flex-direction: column;
      min-height: 684px;
      div:first-child { order: 9; }
      padding: 32px;
      padding-top: 126px;
      padding-bottom: 96px;
      .content-block {
        transform: translateY(-32px);
        .img { max-height: 232px; }
      }
    }
    .content-block {
      max-width: 477px;
      h1 {
        color: #FAFAFA;
        margin-bottom: 40px;
      }
    }
    .img { max-height: 365px; }
  }

  .content {
    max-width: 620px;
    p { margin-bottom: 32px; }
  }
  .about {
    padding: 160px 24px;
    @media (max-width: 769px) {
      .columns {
        --columnGap: 0.75rem;
      }
    }
    .boxImg {
      max-width: 556px;
      @media (max-width: 769px) {
        max-width: calc(100vw - 40px);
      }
      position: relative;
      &:before {
        content: '';
        width: 128px;
        height: 71px;
        @media (max-width: 769px) {
          width: 64px;
          height: 35px;
          background-size: cover;
        }
        background-image: url('~assets/imgs/home/bling.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
        top: 30%;
        transform: translateY(-30%);
      }
    }
  }
  .sac {
    --hero-color: #00A6E0;
    background: #00A6E0;
    padding: unset;
    position: relative;
    h3 {
      text-transform: uppercase;
      color: #fafafa;
      margin-bottom: 1rem;
    }
    h2 {
      color: #FAFAFA;
      margin-bottom: 24px;
    }
    p {
      color: rgba(250, 250, 250, 0.85);
      margin-bottom: 32px;
    }
    .container {
      min-height: 620px;
      display: flex;
      align-items: center;
    }
    &:before {
      content: '';
      width: 401px;
      height: 98px;
      @media (max-width: 769px) {
        max-width: 100vw;
      }
      background-image: url('~assets/imgs/home/sac-pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 48px;
      right: 0;
    }
    .column:first-of-type {
      align-self: center;
    }
    .column:last-of-type {
      padding: unset;
      height: 620px;
      display: flex;
      align-items: flex-end;
    }
    @media (max-width: 769px) {
      overflow: hidden;
      padding: 32px;
      padding-bottom: 0;
      .column:last-of-type {
        height: auto;
      }
    }
  }
</style>