<template>
	<div>
		<hero title="Sobre nós" color="#00A6E0" pattern="sobre.svg" />
		<section class="section">
			<div class="container">
				<div class="columns is-vcentered reverse-mobile">
					<div class="column is-6">
						<div class="content">
							<h2>A Equilibraê</h2>
							<p>
								Somos do Rio de Janeiro e viemos para te <strong>equilibrar</strong> através de lanches saudáveis. 
							</p>
							<p>
								Acreditamos em um estilo de vida saudável, sem neurose e privações, mas com prazer e <strong>equilíbrio</strong>. Espalhamos esse estilo de vida através de lanches práticos, congelados, com ingredientes saudáveis e <strong>muito saborosos</strong>. Para te ajudar, é claro, que entregamos diretamente na sua casa. Sem gasolina, estacionamento e transito. Tudo no conforto do seu lar para cuidarmos de você! 
							</p>
							<p>
								Temos lanches doces e salgados e diversas opções, incluindo produtos sem gluten, sem lactose, low carb, sem açúcar e <strong>com amor</strong>!
							</p>
							<p>
								Consulte nossos produtos e nossa loja virtual.
							</p>
						</div>
					</div>
					<div class="column is-6">
						<img src="~/assets/imgs/sobre/a-equilibrae.jpg" class="raised">
					</div>
				</div>
				<div class="columns is-vcentered">
					<div class="column is-6">
						<img src="~/assets/imgs/sobre/historia.jpg" class="raised">
					</div>
					<div class="column is-6">
						<div class="content">
							<h2>Nossa história</h2>
							<p>
							A Equilibraê é fundada por Tayná Garcia, uma paulista, que atualmente mora no Rio
								de Janeiro, e é uma amante da vida, questionadora, que busca constantemente o
							equilíbrio entre corpo, mente e alma.
							</p>
							<p>
								Iniciou sua jornada empreendedora em junho de 2018, na zona da baixada, RJ, quando sentiu a necessidade de criar um negócio local, no ramo alimentício, trazendo como diferencial a gastronomia saudável, com receitas e lanches artesanais e um propósito: equilibrar a vida das pessoas.
							</p>
							<p>
								Estudante de nutrição da UFRJ, contando sempre com a participação, apoio e incentivo de seu marido, Leandro Silva, logo partiram para a ação, e começaram a testar e criar receitas saborosas, usando ingredientes naturais e desenvolver produtos low carb, zero açúcar, zero lactose e zero glúten. Dando início assim, à Equilibraê, uma empresa que proporciona o equilíbrio na vida das pessoas, por meio de lanches saudáveis e um estilo de vida em busca da harmonia.
							</p>
							<p>
								Desde então, o sucesso entre clientes, blogueiras, nutricionistas, personais trainers, só vem aumentando e o objetivo é alcançar cada vez mais pessoas, transmitindo a ideia, de que é possível comer lanches saudáveis, mas ao mesmo tempo saborosos e que proporcionam o equilíbrio e a felicidade na vida das pessoas.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import Hero from '~/components/Hero.vue'
	export default {
		components: {
			Hero
		},
		head() {
			return {
				title: 'Sobre - Equilibraê'
			}
		}
	}
</script>

<style lang="scss" scoped>
	.column > img { border-radius: 12px; }
	.columns + .columns {
		margin-top: 52px;
		margin-bottom: 112px;
	}
	@media (max-width: 769px) {
		.reverse-mobile {
			display: flex;
			flex-direction: column;
			.column:last-child {
				order: -9;
			}
		}
	}
</style>