<h3>Contato via website (Parceiros)</h3>
<br /><br />
<strong>Nome:</strong><%= @name %><br />
<strong>Email:</strong><%= @email %><br />
<strong>Telefone:</strong><%= @phone %><br />
<strong>Mensagem:</strong>
<p><%= @message %></p>