<template>
	<div>
		<hero :color="article.photo ? `linear-gradient(180deg, rgba(25, 24, 24, 0) 0%, rgba(25, 24, 24, 0.7) 100%), url('${article.photo.url}');` : `linear-gradient(180deg, rgba(25, 24, 24, 0) 0%, rgba(25, 24, 24, 0.7) 100%), #A38D77;`" :title="article.title" :isBlog="true" :date="article.created_at" />
		<section class="section">
			<div class="container">
				<div class="content" v-html="article.content"></div>
			</div>
		</section>
	</div>
</template>

<script>
	import Hero from '~/components/Hero.vue'
	export default {
		head() {
			return {
				title: `${this.article.title} - Equilibraê`
			}
		},
		async asyncData({ $axios, params }) {
			const id = params.id
			const article = await $axios.$get(`/v1/articles/${id}`)
			return {
				article
			}
		}
	}
</script>

<style lang="scss" scoped>
</style>