<template>
	<div>
		<hero color="#50BC88" title="Blog" pattern="blog.svg" />
		<section class="section">
			<div class="container">
				<div class="columns is-multiline">
					<div class="column" :class="layout(index)" v-for="(article, index) in pageArticles" :key="article.id">
						<article-card :article="article" />
					</div>
				</div>
				<b-pagination
					:total="articles.length"
					v-model="current"
					:range-before="1"
					:range-after="1"
					
					:rounded="true"
					:per-page="perPage"
					aria-nex-label="Próxima página"
					aria-previous-label="Página anterior"
					aria-page-label="Página"
					aria-current-label="Página atual">
				</b-pagination>
			</div>
		</section>
	</div>
</template>

<script>
	import Hero from '~/components/Hero.vue'
	import ArticleCard from '~/components/ArticleCard.vue'
	export default {
		head() {
			return {
				title: 'Blog - Equilibraê'
			}
		},
		components: {
			Hero
		},
		data() {
			return {
				current: 1,
				perPage: 10
			}
		},
		async asyncData({ $axios }) {
			const articles = await $axios.$get('/v1/articles')
			return {
				articles
			}
		},
		methods: {
			layout(index) {
				const sizes = [8, 4, 4, 8, 4, 4, 4, 4, 4, 4]

				return `is-${sizes[index]}`
			}
		},
		computed: {
			pageArticles() {
				return this.articles.slice((this.current - 1) * this.perPage, this.current * this.perPage)
			}
		}
	}
</script>