<template>
	<section class="section">
		<div class="container is-max-widescreen">
			<div class="columns is-centered">
				<div class="column is-10"><nuxt-link to="/produtos" class="back"><- Voltar</nuxt-link></div>
			</div>
			<div class="columns is-centered is-variable is-8 mb-6">
				<div class="column is-6">
					<div class="image" :style="product.photo ? `--productImage: url('${product.photo.url}');` : `--productImage: url('${require('~/assets/imgs/produtos/no-photo.jpg')}');`"></div>
				</div>
				<div class="column is-4 main-info">
					<h2 class="mb-4">{{ product.name }}</h2>
					<div class="weight"><balance /><h4>Peso total:</h4><p>{{ product.wheight }}</p></div>
					<div class="actions mt-6">
						<a href="https://pedidos.in/equilibrae" target="_blank" class="button">
							Ir para o delivery ->
						</a>
						<div class="share">
							<span>Compartilhe</span>
							<div class="social">
								<a target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u=https://equilibrae.com.br' + this.$route.path">
									<img src="~/assets/imgs/fb.svg">
								</a>
								<a target="_blank" :href="'https://twitter.com/intent/tweet?ref_src=https://equilibrae.com.br&button_hashtag=Equilibraê%20https://equilibrae.com.br' +  this.$route.path">
									<img src="~/assets/imgs/twitter.svg">
								</a>
								<a target="_blank" class="is-hidden-mobile" :href="'https://web.whatsapp.com/send?text=https://equilibrae.com.br' +  this.$route.path">
									<img src="~/assets/imgs/whatsapp.svg">
								</a>
								<a target="_blank" class="is-hidden-tablet" :href="'whatsapp://send?text=https://equilibrae.com.br' +  this.$route.path">
									<img src="~/assets/imgs/whatsapp.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="columns is-centered is-variable is-8 mt-6">
				<div class="column is-6">
					<p class="is-med">
						{{ product.description }}
					</p>
					<h3 class="mt-4 pt-4">Ingredientes</h3>
					<p class="is-med mt-4">
						{{ product.ingredients }}
					</p>
				</div>
				<div class="column is-4 m--8">
					<nutrition-table :data="product.nutrition" v-if="product.nutrition" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import Balance from '~/assets/imgs/produtos/balance.svg?inline'
import NutritionTable from '~/components/NutritionTable.vue'
export default {
	components: { Balance },
	head() {
		return {
			title: `${this.product.name} - Equilibraê`
		}
	},
  async asyncData({ $axios, params }) {
  	const id = params.id
  	const product = await $axios.$get(`/v1/products/${id}`)

  	return { product }
  }
}
</script>

<style lang="scss" scoped>
	.m--8 {
		margin-top: -8px;
		@media (max-width: 769px) {
			margin-top: 20px;
		}
	}
	.share {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 769px) {
			margin-top: 32px;
		}
		span {
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
			color: #626260;
			text-transform: uppercase;
		}
		.social {
			margin-top: 8px;
			display: flex;
			align-items: center;
			a + a { margin-left: 32px; }
			@media (min-width: 769px) {
				a {
					opacity: .75;
					transition: all .3s ease;
				}
				a:hover { opacity: 1; }
			}
		}
	}
	.actions {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.weight {
		display: flex;
		align-items: center;
		svg, h4 { margin-right: 8px; }
	}
	.main-info {
		display: flex;
		flex-direction: column;
	}
	.image {
		width: 100%;
		height: 320px;
		--noPhoto: url('~assets/imgs/produtos/no-photo.jpg');
		background-image: var(--productImage);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: 0px 28px 57px rgba(0, 0, 0, 0.13), 0px 6.25417px 12.7317px rgba(0, 0, 0, 0.0774939), 0px 1.86203px 3.79056px rgba(0, 0, 0, 0.0525061);
		border-radius: 24px;
	}
	.back {
		margin-bottom: 32px;
		@media (max-width: 769px) {
			margin-bottom: 20px;
		}
	}
</style>

