<template>
	<div>
		<hero color="#FCCF62" title="Produtos" pattern="produtos.svg" />
		<cta />
		<section class="section categories">
			<div class="container">
				<h3>Categorias</h3>
				<div class="categories list">
					<div class="item" v-scroll-to="{
						el: '#cat-1',
						offset: -10,
						easing: [.5, 0, .75, 0],
						duration: 600
					}">
						<div class="category-image"></div>
						<p>Torta-pão</p>
					</div>
					<div class="item" v-scroll-to="{
						el: '#cat-2',
						offset: -10,
						easing: [.5, 0, .75, 0],
						duration: 600
					}">
						<div class="category-image"></div>
						<p>Pães veganos</p>
					</div>
					<div class="item" v-scroll-to="{
						el: '#cat-3',
						offset: -10,
						easing: [.5, 0, .75, 0],
						duration: 600
					}">
						<div class="category-image"></div>
						<p>Quiches</p>
					</div>
					<div class="item" v-scroll-to="{
						el: '#cat-4',
						offset: -10,
						easing: [.5, 0, .75, 0],
						duration: 600
					}">
						<div class="category-image"></div>
						<p>Pizzas</p>
					</div>
					<div class="item" v-scroll-to="{
						el: '#cat-5',
						offset: -10,
						easing: [.5, 0, .75, 0],
						duration: 600
					}">
						<div class="category-image"></div>
						<p>Doces</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-1">
			<div class="container">
				<h3>Torta-pão</h3>
				<div class="columns is-multiline">
					<div class="column is-3" v-for="p in category('torta_pao')">
						<product-card :link="`/produtos/${p.id}`" :image="p.photo ? p.photo.url : require('~/assets/imgs/produtos/no-photo.jpg')" :title="p.name" :weight="p.wheight" />
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-2">
			<div class="container">
				<h3>Pães veganos</h3>
				<div class="columns is-multiline">
					<div class="column is-3" v-for="p in category('paes_veganos')">
						<product-card :link="`/produtos/${p.id}`" :image="p.photo ? p.photo.url : require('~/assets/imgs/produtos/no-photo.jpg')" :title="p.name" :weight="p.wheight" />
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-3">
			<div class="container">
				<h3>Quiches</h3>
				<div class="columns is-multiline">
					<div class="column is-3" v-for="p in category('quiches')">
						<product-card :link="`/produtos/${p.id}`" :image="p.photo ? p.photo.url : require('~/assets/imgs/produtos/no-photo.jpg')" :title="p.name" :weight="p.wheight" />
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-4">
			<div class="container">
				<h3>Pizzas</h3>
				<div class="columns is-multiline">
					<div class="column is-3" v-for="p in category('pizzas')">
						<product-card :link="`/produtos/${p.id}`" :image="p.photo ? p.photo.url : require('~/assets/imgs/produtos/no-photo.jpg')" :title="p.name" :weight="p.wheight" />
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-5">
			<div class="container">
				<h3>Doces</h3>
				<div class="columns is-multiline">
					<div class="column is-3" v-for="p in category('doces')">
						<product-card :link="`/produtos/${p.id}`" :image="p.photo ? p.photo.url : require('~/assets/imgs/produtos/no-photo.jpg')" :title="p.name" :weight="p.wheight" />
					</div>
				</div>
			</div>
		</section>
		<section class="section products" id="cat-6">
			<div class="container">
				<h3>Kits</h3>
				<div class="columns is-multiline">
					<div class="column is-3">
						<a class="button" href="https://pedidos.in/equilibrae" target="_blank">Monte seu kit -></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import Hero from '~/components/Hero.vue'
	import Cta from '~/components/Cta.vue'
	import ProductCard from '~/components/ProductCard.vue'
	export default {
		head() {
			return {
				title: 'Produtos - Equilibraê'
			}
		},
		components: {
			Cta, Hero, ProductCard
		},
		async asyncData({ $axios }) {
			const products = await $axios.$get('/v1/products')
			return {
				products
			}
		},
		methods: {
			category(value) {
				return this.products.filter(cat => cat.category === value)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.section.categories {
		margin-top: 48px;
		@media (max-width: 769px) {
			margin-top: unset;
		}
	}
	h3 {
		padding-bottom: 32px;
	}
	.categories.list {
		display: flex;
		align-items: center;
		overflow: overlay;
		@media (max-width: 769px) {
			margin-right: -24px;
			margin-left: -24px;
			margin-bottom: -24px;
			padding: 0 24px;
			padding-bottom: 24px;
			scroll-snap-type: x mandatory;
			scroll-padding: 24px;
			.item:last-of-type { min-width: 114px; border-right: 24px solid transparent; }
		}
		.item {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (max-width: 769px) {
				scroll-snap-align: start;
				p { font-size: 12px; }
			}
			&:not(:last-of-type) {
				margin-right: 32px;
			}
			.category-image {
				width: 128px;
				height: 128px;
				@media (max-width: 769px) {
					width: 90px;
					height: 90px;
				}
				overflow: hidden;
				border-radius: 100%; 
				margin-bottom: 20px;

				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					transition: all .5s cubic-bezier(0.22, 1, 0.36, 1);
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
			&:nth-of-type(1) .category-image:before {
				background-image: url('~assets/imgs/produtos/categorias/torta-pao.jpg');
			}
			&:nth-of-type(2) .category-image:before {
				background-image: url('~assets/imgs/produtos/categorias/paes-veganos.jpg');
			}
			&:nth-of-type(3) .category-image:before {
				background-image: url('~assets/imgs/produtos/categorias/quiches.jpg');
			}
			&:nth-of-type(4) .category-image:before {
				background-image: url('~assets/imgs/produtos/categorias/pizzas.jpg');
			}
			&:nth-of-type(5) .category-image:before {
				background-image: url('~assets/imgs/produtos/categorias/doces.jpg');
			}
			@media(min-width: 769px) {
				&:hover .category-image:before {
					transform: scale(1.1);
				}
			}
		}
	}
	.products {
		margin-top: 48px;
		@media (max-width: 769px) {
			margin-top: unset;
		}
	}
</style>