<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered mt-4">
				<div class="column is-8">
					<div class="is-flex mb-6">
						<h2>Artigos cadastrados</h2>
						<nuxt-link class="button is-small" to="/admin/blog/publish">Cadastrar artigo</nuxt-link>
					</div>
					<articles-list :articles="articles" />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ArticlesList from '~/components/admin/ArticlesList.vue'
	export default {
		layout: 'admin',
	  middleware: 'auth',
		async asyncData({ $axios }) {
			const response = await $axios.get('/v1/articles')
			const articles = response.data
			return {
				articles
			}
		}
	}
</script>

<style lang="scss" scoped>
	.is-flex {
		justify-content: space-between;
		@media (max-width: 769px) {
			flex-direction: column;
			a { margin-bottom: 32px; }
		}
	}
</style>