<template>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-8">
					<h2 class="mb-6">Cadastrar artigo</h2>
					<article-form />
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import ArticleForm from '~/components/admin/ArticleForm.vue'
export default {
	layout: 'admin',
  middleware: 'auth'
}
</script>