<template>
	<section class="section">
		<nav>
			<div class="container">
				<nuxt-link to="/">
					<logo-mobile />
				</nuxt-link>
				<div v-if="this.$auth.loggedIn" class="links">
					<nuxt-link to="/admin">
						Produtos
					</nuxt-link>
					<nuxt-link to="/admin/blog">
						Blog
					</nuxt-link>
					<nuxt-link to="/admin/alterar-senha">
						Alterar senha
					</nuxt-link>
					<a @click="onLogoutClick">
						Logout
					</a>
				</div>
			</div>
		</nav>
	</section>
</template>

<script>
	import LogoMobile from '~/components/LogoMobile.vue'
	export default {
		methods: {
			onLogoutClick() {
				this.$auth.reset()
				this.$auth.redirect('login')
			}
		}
	}
</script>

<style lang="scss" scoped>
	nav .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 769px) {
			flex-direction: column;
			.links {
				margin-top: 2rem;
				font-size: 12px;
			}
		}
		.links a {
			position: relative;
			color: #333333;
			&:hover { color: #00A6E0; }
			&.nuxt-link-exact-active {
				&:after {
					content: '';
					position: absolute;
					width: 94%;
					height: 4px;
					background-color: #00A6E0;
					bottom: -8px;
					left: 0;
				}
			}
		}
		.links a + a {
			margin-left: 24px;
		}
	}
</style>