<template>
	<div>
    <ValidationObserver ref="form" v-slot="{ handleSubmit }">
		  <form @submit.prevent="handleSubmit(onSubmit)">
				<div class="field file">
					<b-upload v-model="file">
						<a class="button is-primary is-small">
							<b-icon icon="upload"></b-icon>
							<span>Imagem</span>
						</a>
						<span class="file-name" v-if="filename">
							{{ filename }}
						</span>
					</b-upload>
				</div>
		    <div class="field">
		      <label class="label">Título</label>
          <ValidationProvider name="title" rules="required" v-slot="{ errors, classes }">
			      <div class="control"> 
			        <input
			          v-model="title"
			          :class="classes"
			          type="text"
			          class="input"
			        >
              <span class="help">{{ errors[0] }}</span>
			      </div>
			    </ValidationProvider>
		    </div>
		    <div class="field">
		      <label class="label">Subtítulo</label>
		      <div class="control"> 
		        <textarea
		          v-model="subtitle"
		          type="text"
		          class="input"
		        />
		      </div>
		    </div>
		    <div class="field mt-6 mb-6">
		      <div class="control"> 
		      	<text-editor :content-data="content" v-on:update="getContent" />
		      </div>
		    </div>
		    <div>
		      <button
		        type="submit"
		        class="button mt-6"
		        :class="{'is-loading': loading}"
		      >
		        Salvar
		      </button>
		    </div>
		  </form>
		</ValidationObserver>
	</div>
</template>

<script>

import { serialize } from 'object-to-formdata'

export default {
	layout: 'admin',
  middleware: 'auth',
  props: {
  	articleData: {
  		type: Object
  	}
  },
  data() {
  	return {
  		file: null,
  		title: '',
  		subtitle: '',
  		content: '',
  		loading: false
  	}
  },
  methods: {
  	async onSubmit() {
  		try {
  			this.loading = true
  			if(this.articleData) {
  				await this.$axios.$put(`/v1/articles/${this.articleData.id}`, this.formData)
  			} else {
  				await this.$axios.$post('/v1/articles', this.formData)
  			}
	  		this.$router.push({
	  			name: 'admin-blog'
  			},
  			() => {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Artigo salvo com sucesso',
						type: 'is-success'
					})
	  		})
  		} catch(err) {
  			console.error(err.toString())
				this.$buefy.toast.open({
					duration: 5000,
					message: 'Oops... algo deu errado!',
					type: 'is-danger'
				})
  		} finally {
  			this.loading = false
  		}
  	},
		getContent(content) {
			this.content = content
		}
  },
  created() {
		if(this.articleData) {
			this.title = this.articleData.title
			this.subtitle = this.articleData.subtitle
			this.content = this.articleData.content
		}
  },
  computed: {
  	formData() {
  		const data = {
  			title: this.title,
  			subtitle: this.subtitle,
  			content: this.content
  		}

  		if(this.file) {
  			data.photo = { image: this.file }
  		}

  		return serialize({ article: data })
  	},
  	filename() {
  		let name = ''
  		if(this.file) {
	  		name =  this.file.name
  		} else if(this.articleData) {
  			name =  this.articleData.photo.filename
  		}

  		return name
  	}
  }
}
</script>