<template>
	<div>
		<b-table
		:data="articles"
		paginated
		per-page="10"
		class="articles-list">
		<b-table-column field="title" label="Título" v-slot="props">
			{{ props.row.title }}
		</b-table-column>
		<b-table-column field="actions" label="Ações" numeric v-slot="props">
			<div class="actions">
				<nuxt-link :to="{ name: 'admin-blog-edit-id', params: { id: props.row.id } }">Editar</nuxt-link>
				<a @click="confirm(props.row.id)">Apagar</a>
			</div>
		</b-table-column>
		</b-table>
	</div>
</template>

<script>
	export default {
		props: {
			articles: {
				type: Array
			}
		},
		methods: {
			confirm(id) {
				this.$buefy.dialog.confirm({
					message: 'Deseja mesmo apagar?',
					confirmText: 'Apagar',
					type: 'is-danger',
					onConfirm: () => this.onDelete(id)
				})
			},
			async onDelete(id) {
				try {
					const url = `/v1/articles/${id}`
					await this.$axios.delete(url)
					const index = this.articles.findIndex(article => article.id === id)
					this.articles.splice(index, 1)
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Artigo apagado',
						type: 'is-success'
					})
				} catch(err) {
					console.error(err.toString())
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.actions {
		a + a { margin-left: 16px; }
	}
</style>