<template>
	<div>
    <ValidationObserver ref="form" v-slot="{ handleSubmit }">
		  <form @submit.prevent="handleSubmit(onSubmit)">
				<div class="columns is-multiline">
					<div class="column is-full">
						<div class="field file">
							<b-upload v-model="file">
								<a class="button is-primary is-small">
									<b-icon icon="upload"></b-icon>
									<span>Imagem</span>
								</a>
								<span class="file-name" v-if="filename">
									{{ filename }}
								</span>
							</b-upload>
						</div>
					</div>
					<div class="column is-full">
				    <div class="field">
				      <label class="label">Nome</label>
		          <ValidationProvider name="name" rules="required" v-slot="{ errors, classes }">
					      <div class="control"> 
					        <input
					          v-model="product.name"
					          :class="classes"
					          type="text"
					          class="input"
					        >
		              <span class="help">{{ errors[0] }}</span>
					      </div>
					    </ValidationProvider>
				    </div>
				  </div>
					<div class="column is-full">
					  <ValidationProvider name="category" rules="required" v-slot="{ errors, classes }">
						  <b-field label="Categoria" :message="errors[0]" :type="errors[0] ? 'is-danger' : ''">
				        <b-select
									v-model="product.category"
				        	placeholder="Selecione uma categoria"
				        	expanded
				        >
				          <option value="torta_pao">Torta-pão</option>
				          <option value="paes_veganos">Pães veganos</option>
				          <option value="quiches">Quiches</option>
				          <option value="pizzas">Pizzas</option>
				          <option value="doces">Doces</option>
				        </b-select>
					    </b-field>
				    </ValidationProvider>
				  </div>
					<div class="column is-full">
				    <div class="field">
				      <label class="label">Descrição</label>
				      <div class="control"> 
				        <textarea
				          v-model="product.description"
				          type="textarea"
				          class="textarea"
				        />
				      </div>
				    </div>
				  </div>
					<div class="column is-full">
				    <div class="field">
				      <label class="label">Peso</label>
				      <div class="control"> 
				        <input
				          v-model="product.wheight"
				          type="text"
				          class="input"
				        >
				      </div>
				    </div>
				  </div>
					<div class="column is-full">
				    <div class="field">
				      <label class="label">Ingredientes</label>
				      <div class="control"> 
				        <textarea
				          v-model="product.ingredients"
				          type="text"
				          class="textarea"
				        />
				      </div>
				    </div>
				  </div>
					<div class="column is-full">
						<h3 class="mt-6">Tabela nutricional</h3>
				    <div class="field">
				      <label class="label mt-3">Peso</label>
		          <ValidationProvider
		          	:rules="nutritionFilled ? 'required' : ''"
		          	v-slot="{ classes }"
		          >
					      <div class="control"> 
					        <input
					          v-model="product.nutrition.wheight"
					          :class="classes"
					          type="text"
					          class="input"
					        >
					      </div>
					    </ValidationProvider>
				    </div>
				  </div>
					<a @click="addNutritionFact" class="button is-small ml-4 mt-4 is-info">Adicionar linha</a>
				  <div v-for="fact in nutritionFacts" class="column is-full">
				  	<div class="columns is-multiline">
							<div class="column is-half">
						    <div class="field">
						      <label class="label">Nome</label>
				          <ValidationProvider
				          	:rules="nutritionFilled ? 'required' : ''"
				          	v-slot="{ classes }"
				          >
							      <div class="control"> 
							        <input
							          v-model="fact.name"
							          :class="classes"
							          type="text"
							          class="input"
							        >
							      </div>
							    </ValidationProvider>
						    </div>
						  </div>
							<div class="column is-half">
						    <div class="field">
						      <label class="label">Valor</label>
				          <ValidationProvider
				          	:rules="nutritionFilled ? 'required' : ''"
				          	v-slot="{ classes }"
				          >
							      <div class="control is-flex"> 
							        <input
							          v-model="fact.value"
							          :class="classes"
							          type="text"
							          class="input"
							        >
									  	<a 
									  		v-show="nutritionFacts.length > 1"
									  		@click="removeNutritionFact(fact)"
									  		class="button is-danger is-small ml-5">
										  		Excluir
									  	</a>
							      </div>
							    </ValidationProvider>
						    </div>
						  </div>
						</div>
					</div>
					<div class="column is-full">
				    <div>
				      <button
				        type="submit"
				        class="button mt-4"
				        :class="{'is-loading': loading}"
				      >
				        Salvar
				      </button>
				    </div>
				  </div>
			  </div>
		  </form>
		</ValidationObserver>
	</div>
</template>

<script>

import { serialize } from 'object-to-formdata'

export default {
	layout: 'admin',
  middleware: 'auth',
  props: {
  	populateWith: {
  		type: Object,
  		default: null
  	}
  },
  data() {
  	const productDefaults = {
  		name: '',
  		category: null,
  		description: '',
  		wheight: '',
  		ingredients: '',
  		nutrition: {
  			wheight: '',
  			facts: [{
  				name: '',
  				value: ''
  			}]
  		}
  	}
  	const product = Object.assign({}, productDefaults, this.populateWith)
  	return {
  		product,
  		file: null,
  		loading: false
  	}
  },
  methods: {
  	async onSubmit() {
  		try {
  			const id = this.product.id
  			this.loading = true
  			if(id) {
	  			await this.$axios.$put(`/v1/products/${id}`, this.formData)
  			} else {
	  			await this.$axios.$post('/v1/products', this.formData)
  			}
	  		this.$router.push({
	  			name: 'admin'
  			},
  			() => {
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Produto salvo com sucesso',
						type: 'is-success'
					})
	  		})
  		} catch(err) {
  			console.error(err.toString())
				this.$buefy.toast.open({
					duration: 5000,
					message: 'Oops... algo deu errado!',
					type: 'is-danger'
				})
  		} finally {
  			this.loading = false
  		}
  	},
  	addNutritionFact() {
  		this.product.nutrition.facts.push({
  			name: '',
  			value: ''
  		})
  	},
  	removeNutritionFact(fact) {
  		if(fact.id) {
  			this.$set(fact, '_destroy', true)
  		} else {
  			const facts = this.product.nutrition.facts
  			const index = facts.findIndex(e => e === fact)
  			facts.splice(index, 1)
  		}
  	}
  },
  computed: {
  	formData() {
  		const data = Object.assign({}, this.product)
  		if(this.file) {
  			data.photo = { image: this.file }
  		} else {
  			delete data.photo
  		}

  		if(!this.nutritionFilled) {
				data.nutrition._destroy = true
  		}

  		return serialize({ product: data })
  	},
  	nutritionFilled() {
  		const nutrition = this.product.nutrition
  		const facts = this.nutritionFacts
  		const wheightFilled = nutrition.wheight !== ''
  		const factsFilled = facts.length > 1 || facts[0].name !== '' || facts[0].value !== ''

  		return (wheightFilled || factsFilled)
  	},
  	nutritionFacts() {
  		return this.product.nutrition.facts.filter(fact => fact._destroy !== true)
  	},
  	filename() {
  		let name = ''
  		if(this.file) {
	  		name = this.file.name
  		} else if(this.product.photo) {
  			name = this.product.photo.filename
  		}

  		return name
  	}
  }
}
</script>
