<template>
	<div>
		<b-table
		:data="products"
		paginated
		per-page="10"
		class="products-list">
		<b-table-column field="category" label="Categoria" v-slot="props">
			{{ props.row.category | productCategory }}
		</b-table-column>
		<b-table-column field="name" label="Nome" v-slot="props">
			{{ props.row.name }}
		</b-table-column>
		<b-table-column field="actions" label="Ações" numeric v-slot="props">
			<div class="actions">
				<nuxt-link :to="{ name: 'admin-products-edit-id', params: { id: props.row.id } }">Editar</nuxt-link>
				<a @click="confirm(props.row.id)">Apagar</a>
			</div>
		</b-table-column>
		</b-table>
	</div>
</template>

<script>
	export default {
		props:['products'],
		methods: {
			confirm(id) {
				this.$buefy.dialog.confirm({
					message: 'Deseja mesmo apagar?',
					confirmText: 'Apagar',
					type: 'is-danger',
					onConfirm: () => this.onDelete(id)
				})
			},
			async onDelete(id) {
				try {
					const url = `/v1/products/${id}`
					await this.$axios.delete(url)
					const index = this.products.findIndex(product => product.id === id)
					this.products.splice(index, 1)
					this.$buefy.toast.open({
						duration: 5000,
						message: 'Produto apagado',
						type: 'is-success'
					})
				} catch(err) {
					console.error(err.toString())
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.actions {
		a + a { margin-left: 16px; }
	}
</style>