<template>
  <div class="editor">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          type="button"
        >
          <b-icon
              icon="format-bold"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
          type="button"
        >
          <b-icon
              icon="format-italic"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
          type="button"
        >
          <b-icon
              icon="format-strikethrough"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
          type="button"
        >
          <b-icon
              icon="format-underline"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
          type="button"
        >
          <b-icon
              icon="code-tags"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
          type="button"
        >
          <b-icon
              icon="format-paragraph"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
          type="button"
        >
          <span>H1</span>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
          type="button"
        >
          <span>H2</span>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
          type="button"
        >
          <span>H3</span>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
          type="button"
        >
          <b-icon
              icon="format-list-bulleted"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
          type="button"
        >
          <b-icon
              icon="format-list-numbered"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.blockquote() }"
          @click="commands.blockquote"
          type="button"
        >
          <b-icon
              icon="format-quote-close"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          :class="{ 'is-active': isActive.code_block() }"
          @click="commands.code_block"
          type="button"
        >
          <b-icon
              icon="code-brackets"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          @click="commands.horizontal_rule"
          type="button"
        >
          <b-icon
              icon="minus"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          @click="commands.undo"
          type="button"
        >
          <b-icon
              icon="undo"
              size="is-small">
          </b-icon>
        </button>

        <button
          class="menubarButton"
          @click="commands.redo"
          type="button"
        >
          <b-icon
              icon="redo"
              size="is-small">
          </b-icon>
        </button>

      </div>
    </editor-menu-bar>

    <editor-content class="editorContent content" :editor="editor" />
  </div>
</template>

<script>

import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions'

export default {
  components: {
    EditorContent,
    EditorMenuBar,
  },
  props: ['content-data'],
  data() {
    return {
      editor: null,
      content: ''
    }
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
      ],
      content: `
        <h2>
          Seu artigo
        </h2>
        <p>
          Utilize este espaço para escrever seu artigo.
        </p>
      `,
      onUpdate: ({ getHTML }) => {
        this.content = getHTML()
        this.$emit('update', this.content)
      }
    })
    if(this.contentData) {
      this.editor.setContent(this.contentData)
    } else {
      this.$emit('update', this.editor.options.content)
    }
  },
  beforeDestroy() {
    this.editor.destroy()
  }
}
</script>

<style lang="scss" scoped>
  .menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 769px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .menubarButton {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    &:hover { background: #f3f3f3; }
    &.is-active { background: #e1e1e1; }
  }
  .editorContent {
    margin-top: 20px;
    background-color: white;
    border-radius: 24px;
  }
</style>